{{#with data}}
<div id="setup-page">

<div class="container">



<div class="progress-container">  
<ol class="progressBar">
  <li class="progress-bar-step is-complete">
    <svg class="progress-bar-icon"><use xlink:href="#checkmark-bold"/></svg>
    <span class="progress-bar-stepLabel">Choose Setting</span>
  </li>
  <li class="progress-bar-step is-current">
    <svg class="progress-bar-icon"><use xlink:href="#checkmark-bold"/></svg>
    <span class="progress-bar-stepLabel">Select Stretches</span>
  </li>
  <li class="progress-bar-step">
    <svg class="progress-bar-icon"><use xlink:href="#checkmark-bold"/></svg>
    <span class="progress-bar-stepLabel">Ready to Go!</span>
  </li>
</ol>
  
</div>

<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0">
  <symbol id="checkmark-bold" viewBox="0 0 24 24">
    <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/>
  </symbol>
</svg>


	<div class="stretches-container">
		<div class="row">
			<div class="col text-center">
				<h2>Select Stretches</h2>
			</div>
		</div>
	
		<div class="row">
			<div class="col">

		<form id="stretch-form" action="/go" method="get">

			<ul class="stretch-list">
			{{#each stretches}}
				
					<li class="stretch {{#if active}}selected{{/if}}">
						<input class="stretch-checkbox" type="hidden" name="{{@key}}" value="{{#if active}}1{{/if}}{{#unless active}}0{{/unless}}">
					<!-- Icon -->
					<div class="stretch-image">
						<img src="https://s21.q4cdn.com/861911615/files/images/placeholder.png">
					</div> <!-- .stretch-image -->

					<!-- Info -->
					<div class="stretch-info">
						<p class="text-primary"><strong>{{title}}</strong></p>
						<p><i>{{target}} • {{time}}</i></p>
					</div> <!-- .stretch-info -->

					<!-- Expand button -->
					<div class="expand-stretch">
						<span class="oi chevron oi-chevron-bottom"></span>
					</div> <!-- .expand-stretch -->

					<!-- Description -->
					<p class="stretch-desc text-muted">{{description}}</p>
					</li>
					
			{{/each}}
			</ul>

			
		</div>
	</div>
		
		
	</div> <!-- .stretches-container -->
	
	
	<div class="pagination d-flex justify-content-between">

			<button class="btn btn-primary back-button" type="button" onclick="window.location.href='/'">
				Back
			</button>

			<button class="btn btn-primary forward-button confirm-stretches" type="button" {{#if loggedIn}} onclick="confirmStretchesLoggedIn()" {{/if}} {{#unless loggedIn}} onclick="confirmStretches()"{{/unless}}>
				Start Stretching
			</button>

			{{#unless loggedIn}}
			<!-- Modal -->
			<div class="modal fade" id="getPhoneModal" tabindex="-1" role="dialog" aria-labelledby="getPhoneLabel" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="getPhoneLabel">Enter Phone Number</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      	<p>
			        Ergo sends alerts through SMS. Where can we reach you?</p>
			        <p class="text-muted"><small>E.g. 5557779999</small></p>
			        
			        <form>

			          <div class="form-group">
			            <input type="number" class="form-control" id="phoneInput" required>
			          </div>
			
			        </form>

			        	<p class="warning phoneInputWarning"></p>

			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			        <button id="phoneSubmit" type="button" class="btn btn-primary" onclick="verifyGuestPhone()">Go</button>
			      </div>
			    </div>
			  </div>
			</div> <!-- .modal -->
			{{/unless}}

	</div>  <!-- .pagination -->

	</form> <!-- #stretch-form -->

</div> <!-- .container -->

</div>
{{/with}}
