{{#with data}}
<div id="setup-page">

	<div class="progress-container">
		<div class="container d-flex justify-content-center">
			<div class="progress">
		 		<div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div> <!-- #progress -->

	<div class="stretches-container">
		
		<div class="container">
			<h2>Stretches</h2>
		
			<form id="stretch-form" action="/go" method="get">

			<ul>
			{{#each stretches}}
				
					<li class="stretch {{#if active}}selected{{/if}}">
						<input class="stretch-checkbox" type="hidden" name="{{@key}}" value="{{#if active}}1{{/if}}{{#unless active}}0{{/unless}}">
					<!-- Icon -->
					<div class="stretch-image">
						<img src="https://s21.q4cdn.com/861911615/files/images/placeholder.png">
					</div> <!-- .stretch-image -->

					<!-- Info -->
					<div class="stretch-info">
						<h5 class="text-primary">{{title}}</h5>
						<p><i>{{target}} • {{time}}</i></p>
					</div> <!-- .stretch-info -->

					<!-- Expand button -->
					<div class="expand-stretch">
						<span class="chevron glyphicon glyphicon-chevron-down text-primary" aria-hidden="true"></span>
					</div> <!-- .expand-stretch -->

					<!-- Description -->
					<p class="stretch-desc">{{description}}</p>
					</li>
					
			{{/each}}
			</ul>
		</div>
		
	</div> <!-- .stretches-container -->
	
	<div id="pagination">
		<div class="container">
			<div class="wrapper d-flex justify-content-between align-items-center">

				<button class="back-button" onclick="goBack()">
					
					<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 

				</button>

				<button class="forward-button confirm-stretches" type="submit">
					
						<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
					
				</button>

			</div>
		</div>
	</div> <!-- #pagination -->

	</form>

</div>
{{/with}}
