{{#with data}}
<div id="setup-page">

<div class="container">

	<div class="progress-container">
		<div class="d-flex justify-content-center">
			<div class="progress">
		 		<div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div> <!-- #progress -->



	<div class="stretches-container">
		<div class="row">
			<div class="col text-center">
				<h2>Select Stretches</h2>
			</div>
		</div>
	
		<div class="row">
			<div class="col">
		<form id="stretch-form" action="/go" method="get">
			<ul class="stretch-list">
			{{#each stretches}}
				
					<li class="stretch {{#if active}}selected{{/if}}">
						<input class="stretch-checkbox" type="hidden" name="{{@key}}" value="{{#if active}}1{{/if}}{{#unless active}}0{{/unless}}">
					<!-- Icon -->
					<div class="stretch-image">
						<img src="https://s21.q4cdn.com/861911615/files/images/placeholder.png">
					</div> <!-- .stretch-image -->

					<!-- Info -->
					<div class="stretch-info">
						<p class="text-primary"><strong>{{title}}</strong></p>
						<p><i>{{target}} • {{time}}</i></p>
					</div> <!-- .stretch-info -->

					<!-- Expand button -->
					<div class="expand-stretch">
						<span class="oi chevron oi-chevron-bottom"></span>
					</div> <!-- .expand-stretch -->

					<!-- Description -->
					<p class="stretch-desc text-muted">{{description}}</p>
					</li>
					
			{{/each}}
			</ul>

			
		</div>
	</div>
		
		
	</div> <!-- .stretches-container -->
	
	
	<div class="pagination d-flex justify-content-between">

			<button class="btn btn-primary back-button" type="button" onclick="window.location.href='/'">
				<!--<p class="oi oi-arrow-left"></p> -->
				Back
			</button>

			<button class="btn btn-primary forward-button confirm-stretches" {{#if loggedIn}}type="submit"{{/if}} {{#unless phone}}type="button" data-toggle="modal" data-target="#getPhone"{{/unless}}>
				<!--<p class="oi oi-arrow-right"></p>-->
				Start Stretching
			</button>

			{{#unless phone}}
			<!-- Modal -->
			<div class="modal fade" id="getPhone" tabindex="-1" role="dialog" aria-labelledby="getPhoneLabel" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="getPhoneLabel">Enter Phone Number</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			      	<p>
			        Ergo sends alerts through SMS. Where can we reach you?</p>

			        <form>

			          <div class="form-group">
			            <input type="number" placeholder="1234567890" class="form-control" id="recipient-name">
			          </div>
			
			        </form>

			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			        <button type="button" class="btn btn-primary">Go</button>
			      </div>
			    </div>
			  </div>
			</div> <!-- .modal -->
			{{/unless}}

	</div>  <!-- .pagination -->

	</form>

</div> <!-- .container -->

</div>
{{/with}}
